version: "3.8"

services:
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - worker

  worker:
    build: 
      context: .
      dockerfile: Dockerfile.worker
    depends_on:
      - redis

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
